Repository cowprotocol/services, pull requests merged in 2023-06, with the labels that each got.

#1553 Log soft cancellations flag on startup
  crates/solver/src/arguments.rs
Labels: trivial

#1554 Refactor Balance Fetching Modules
  crates/autopilot/src/lib.rs
  crates/shared/src/account_balances.rs
  crates/shared/src/account_balances/cached.rs
  crates/shared/src/account_balances/web3.rs
  crates/shared/src/lib.rs
Labels: trivial

#1549 `driver`: refactor the tests and re-add commented tests
  crates/driver/src/domain/competition/order/mod.rs
  crates/driver/src/domain/competition/solution/mod.rs
  crates/driver/src/domain/competition/solution/settlement.rs
  crates/driver/src/domain/competition/solution/trade.rs
  crates/driver/src/domain/eth/mod.rs
  crates/driver/src/domain/quote.rs
  crates/driver/src/infra/api/error.rs
  crates/driver/src/infra/api/mod.rs
  crates/driver/src/infra/api/routes/quote/mod.rs
  crates/driver/src/infra/config/file/load.rs
  crates/driver/src/infra/config/file/mod.rs
  crates/driver/src/infra/config/mod.rs
  crates/driver/src/infra/simulator/mod.rs
  crates/driver/src/infra/solver/dto/auction.rs
  crates/driver/src/run.rs
  crates/driver/src/tests/cases/asset_flow.rs
  crates/driver/src/tests/cases/buy_eth.rs
  crates/driver/src/tests/cases/example_config.rs
  crates/driver/src/tests/cases/internalization.rs
  crates/driver/src/tests/cases/limit_order/buy.rs
  crates/driver/src/tests/cases/limit_order/mod.rs
  crates/driver/src/tests/cases/limit_order/sell.rs
  crates/driver/src/tests/cases/merge_settlements.rs
  crates/driver/src/tests/cases/mod.rs
  crates/driver/src/tests/cases/multiple_solutions.rs
  crates/driver/src/tests/cases/negative_scores.rs
  crates/driver/src/tests/cases/quote.rs
  crates/driver/src/tests/cases/risk.rs
  crates/driver/src/tests/cases/settle.rs
  crates/driver/src/tests/cases/solve.rs
  crates/driver/src/tests/cases/solver_balance.rs
  crates/driver/src/tests/cases/verify_asset_flow/limit.rs
  crates/driver/src/tests/cases/verify_asset_flow/liquidity.rs
  crates/driver/src/tests/cases/verify_asset_flow/market.rs
  crates/driver/src/tests/cases/verify_asset_flow/mod.rs
  crates/driver/src/tests/mod.rs
  crates/driver/src/tests/setup/blockchain.rs
  crates/driver/src/tests/setup/blockchain/mod.rs
  crates/driver/src/tests/setup/blockchain/uniswap_a_b.rs
  crates/driver/src/tests/setup/blockchain/uniswap_weth.rs
  crates/driver/src/tests/setup/driver.rs
  crates/driver/src/tests/setup/mod.rs
  crates/driver/src/tests/setup/new/driver.rs
  crates/driver/src/tests/setup/new/mod.rs
  crates/driver/src/tests/setup/new/solver.rs
  crates/driver/src/tests/setup/solver.rs
Labels: refactor, colocation

#1537 Validate full app data on order creation
  Cargo.lock
  crates/orderbook/openapi.yml
  crates/orderbook/src/api/post_order.rs
  crates/orderbook/src/run.rs
  crates/shared/Cargo.toml
  crates/shared/src/app_data.rs
  crates/shared/src/lib.rs
  crates/shared/src/order_validation.rs
Labels: app data

#1546 Store full app data in database
  Cargo.lock
  crates/autopilot/src/database/onchain_order_events.rs
  crates/database/src/orders.rs
  crates/driver/src/boundary/settlement.rs
  crates/e2e/Cargo.toml
  crates/e2e/tests/e2e/app_data.rs
  crates/e2e/tests/e2e/main.rs
  crates/model/src/order.rs
  crates/orderbook/src/database/orders.rs
  crates/shared/src/db_order_conversions.rs
  database/README.md
  database/sql/V051__add_full_app_data.sql
Labels: app data

#1574 Store full app data in separate table
  crates/autopilot/src/database/onchain_order_events.rs
  crates/database/src/app_data.rs
  crates/database/src/lib.rs
  crates/database/src/orders.rs
  crates/orderbook/src/api/post_order.rs
  crates/orderbook/src/database/orders.rs
  crates/orderbook/src/orderbook.rs
  database/README.md
  database/sql/V052__add_app_data.sql
Labels: app data

#1578 Extend app data e2e test
  crates/e2e/tests/e2e/app_data.rs
Labels: app data

#1581 Add route for full app data fetching
  crates/e2e/tests/e2e/app_data.rs
  crates/e2e/tests/e2e/setup/services.rs
  crates/orderbook/openapi.yml
  crates/orderbook/src/api.rs
  crates/orderbook/src/api/get_app_data.rs
  crates/orderbook/src/api/get_trades.rs
  crates/orderbook/src/database.rs
  crates/orderbook/src/database/app_data.rs
  crates/orderbook/src/lib.rs
  crates/orderbook/src/run.rs
Labels: app data

#1587 Fetch full app data from IPFS when not specified
  Cargo.lock
  crates/orderbook/Cargo.toml
  crates/orderbook/src/arguments.rs
  crates/orderbook/src/ipfs.rs
  crates/orderbook/src/lib.rs
  crates/orderbook/src/orderbook.rs
  crates/orderbook/src/run.rs
  crates/shared/src/order_validation.rs
Labels: app data

#1618 Pass Custom Interactions for EIP-1271 Signature Validation
  crates/autopilot/src/solvable_orders.rs
  crates/shared/src/order_validation.rs
  crates/shared/src/signature_validator.rs
  crates/shared/src/signature_validator/web3.rs
Labels: custom-interactions
