Repository cowprotocol/services, pull requests merged in 2024-01, with the labels that each got.

#2171 Enums camel case serialization
  crates/autopilot/src/driver_model.rs
  crates/driver/openapi.yml
  crates/driver/src/infra/api/routes/quote/dto/order.rs
  crates/driver/src/infra/api/routes/solve/dto/auction.rs
  crates/driver/src/infra/solver/dto/auction.rs
  crates/driver/src/infra/solver/dto/notification.rs
  crates/driver/src/infra/solver/dto/solution.rs
  crates/driver/src/tests/setup/driver.rs
  crates/driver/src/tests/setup/mod.rs
  crates/e2e/tests/e2e/colocation_partial_fill.rs
  crates/solvers/openapi.yml
  crates/solvers/src/api/routes/notify/dto/notification.rs
  crates/solvers/src/api/routes/solve/dto/auction.rs
  crates/solvers/src/api/routes/solve/dto/solution.rs
  crates/solvers/src/tests/baseline/bal_liquidity.rs
  crates/solvers/src/tests/baseline/buy_order_rounding.rs
  crates/solvers/src/tests/baseline/direct_swap.rs
  crates/solvers/src/tests/baseline/internalization.rs
  crates/solvers/src/tests/baseline/partial_fill.rs
  crates/solvers/src/tests/legacy/attaching_approvals.rs
  crates/solvers/src/tests/legacy/concentrated_liquidity.rs
  crates/solvers/src/tests/legacy/jit_order.rs
  crates/solvers/src/tests/legacy/market_order.rs
  crates/solvers/src/tests/naive/extract_deepest_pool.rs
  crates/solvers/src/tests/naive/filters_out_of_price_orders.rs
  crates/solvers/src/tests/naive/limit_order_price.rs
  crates/solvers/src/tests/naive/matches_orders.rs
  crates/solvers/src/tests/naive/reserves_too_small.rs
  crates/solvers/src/tests/naive/rounds_prices_in_favour_of_traders.rs
  crates/solvers/src/tests/naive/swap_less_than_reserves.rs
  crates/solvers/src/tests/naive/without_pool.rs
Labels: blocked

#2258 Single sql query for reading quotes
  crates/autopilot/src/database/quotes.rs
  crates/database/src/orders.rs
Labels: E:4.2 Protocol Fee Implementation

#2260 E2E test protocol fee
  crates/e2e/tests/e2e/main.rs
  crates/e2e/tests/e2e/protocol_fee.rs
Labels: E:4.2 Protocol Fee Implementation

#2213 Protocol fee adjustment in driver
  crates/driver/src/domain/competition/solution/fee.rs
  crates/driver/src/domain/competition/solution/mod.rs
  crates/driver/src/domain/competition/solution/trade.rs
  crates/driver/src/infra/notify/mod.rs
  crates/driver/src/infra/solver/dto/mod.rs
  crates/driver/src/infra/solver/dto/solution.rs
  crates/driver/src/tests/setup/driver.rs
  crates/driver/src/tests/setup/mod.rs
  crates/e2e/tests/e2e/main.rs
  crates/e2e/tests/e2e/protocol_fee.rs
Labels: E:4.2 Protocol Fee Implementation

#2273 Rename `priceImprovement` to `Surplus`
  crates/autopilot/src/arguments.rs
  crates/autopilot/src/domain/fee/mod.rs
  crates/autopilot/src/infra/persistence/dto/order.rs
  crates/driver/openapi.yml
  crates/driver/src/domain/competition/order/fees.rs
  crates/driver/src/domain/competition/solution/fee.rs
  crates/driver/src/infra/api/routes/solve/dto/auction.rs
  crates/driver/src/tests/setup/driver.rs
  crates/e2e/tests/e2e/protocol_fee.rs
  crates/orderbook/src/dto/order.rs
Labels: E:4.2 Protocol Fee Implementation

#2118 Store fee policy
  .github/workflows/pull-request.yaml
  crates/autopilot/src/arguments.rs
  crates/autopilot/src/boundary/mod.rs
  crates/autopilot/src/database.rs
  crates/autopilot/src/database/fee_policies.rs
  crates/autopilot/src/database/onchain_order_events.rs
  crates/autopilot/src/database/order_events.rs
  crates/autopilot/src/infra/persistence/dto/fee_policy.rs
  crates/autopilot/src/infra/persistence/dto/mod.rs
  crates/autopilot/src/infra/persistence/dto/quote.rs
  crates/autopilot/src/infra/persistence/mod.rs
  crates/autopilot/src/run.rs
  crates/autopilot/src/run_loop.rs
  crates/e2e/tests/e2e/onchain_settlement.rs
  database/README.md
  database/sql/V057__add_fee_policy.sql
Labels: E:4.2 Protocol Fee Implementation

#2290 Add tracing logs for fee policy creation
  crates/autopilot/src/domain/fee/mod.rs
Labels: E:4.2 Protocol Fee Implementation

#2316 Report only unique unsettled orders
  crates/autopilot/src/run_loop.rs
Labels: oncall

#2324 Fix bug for fee market price check
  crates/autopilot/src/boundary/mod.rs
  crates/autopilot/src/domain/fee/mod.rs
  crates/shared/src/order_validation.rs
Labels: E:4.2 Protocol Fee Implementation
